<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; style-src-elem 'self' 'unsafe-inline'; script-src-elem 'self' 'unsafe-inline'">
    <meta name="htmx-config" content='{"selfRequestsOnly": true, "allowScriptTags": false, "allowEval": false}'>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/bootstrap-5.3.3.min.css">
    <script src="/js/htmx-2.0.2.min.js" defer></script>
    <title>Contacts Book</title>
</head>

<body>
    {{ template "contact-form" .Form }}
    <hr />
    {{ template "contacts" .Data }}
    <script src="/js/main.js" defer></script>
</body>

</html>
